<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link rel="stylesheet" href="../../static/stylesheets/base.css">
</head>
<body>
    <nav id="navbar">
        <li id="logo-nav"><a><span id="code-symbol">&#60;/&#62;</span> smartforms</a></li><li class="other-nav"><a>Tutorial</a></li><li class="other-nav"><a>Templates</a></li><li class="other-nav"><a href="{{url_for('arterial.login')}}"><button>Login</button></a></li>
        
        <span class="end-nav"><a href="{{url_for('arterial.register')}}"><button>Sign Up</button></a></span>
    </nav>
    <div class="body-container">
        <div style="text-align: center;">
            <h1>
                404 Error: server cannot find requested resource.
            </h1>
        </div>
    </div>
</body>
</html>