<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/stylesheets/base.css">
    </head>
    <body>
        <nav id="navbar">
            <li id="logo-nav"><a><span id="code-symbol">&#60;/&#62;</span> smartforms</a></li><li class="other-nav"><a href="/">Home</a></li><li class="other-nav"><a href="{{url_for('generator.my_smartforms')}}">My SmartForms</a></li><li class="other-nav"><a href="{{url_for('generator.my_packs')}}">My Packs</a></li><li class="other-nav"><a>Tutorial</a></li><li class="other-nav"><a>Templates</a></li>
        </nav>
        <div class="body-container">
            <div style="text-align: center;">
                <h1>
                    My Packs
                </h1>

                <div class="search-bar center">

                    <form action="#" method="POST">
                        <input type="hidden" name="csrf_token" id="generator-csrf-top" value="{{ csrf_token() }}"/>
                        <input list="packs" id="packs-input" name="nm-smartform" maxlength="50" placeholder="SmartForm Pack Name(s)...">
                        <button type="submit" name="action" id="pack-entered" value="Submit" style="margin-top: 20px; margin-left: 42%;">Submit</button>
                        <div class="center" style="margin-top: 20px;">
                            <input for="plus-button" type="text" id="pack-name" name="pack-name" placeholder="Enter New Pack Name..." style="margin-right: 20px; width: 250px;">
                            <input type="submit" name="action" id="plus-button" value="+"/>
                        </div>  

            
                        <datalist id="packs">
                            {% for pack in packs %}
                                <option value="{{packs.title}}">
                            {% endfor %}
                        </datalist>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>