<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../static/stylesheets/preview.css">
    <link rel="stylesheet" href="../static/stylesheets/base.css">
</head>
<body>
    <form action="#" method="POST">
    <div class="container">
        <div class="pdf-container">
            <div class="text-container">
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}"/>
                {{content}}
            </div>
        </div>
    </div>
    <div class="button-centering">
            <button type="submit" class="center" id="submit-button" style="display: inline;">Submit</button>
            <button type="submit" class="center" name="share" id="submit-button" style="display: inline; margin-left: 20px;">Share</button>
        </form>
    </div>
    
</body>
</html>