<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link rel="stylesheet" href="../static/stylesheets/base.css">
</head>
<body>
    <nav id="navbar">
        <li id="logo-nav"><a><span id="code-symbol">&#60;/&#62;</span> smartforms</a></li><li class="other-nav"><a>Tutorial</a></li><li class="other-nav"><a>Templates</a></li><li class="other-nav"><a href="{{url_for('arterial.login')}}"><button>Login</button></a></li>
        
        <span class="end-nav"><a href="{{url_for('arterial.register')}}"><button>Sign Up</button></a></span>
    </nav>
    <div id="tutorial-box">
        <h1 style="font-size: 50px;">Tutorial</h1>
        <div class="divider"></div>
        <br>
        <h1>SmartForms</h1>
        <p>
            SmartForms are automated document factories, and are apart of a movement to place the creation of internet objects into the hands of the user. SmartForms allow individuals and businesses to create their own document factories, and in doing so are able to create and distribute mission-critical, high-volume documents.
        </p>
        <p>
            Once the SmartForms have been created, they are easily retrievable and reusable through the users account. This allows for the mass-creation and distribution of digital documents.
        </p>
        <h2>1.</h2>
        <p>
            Begin by creating a SmartForm and its corresponding PDF output using the generator framework provided. 
        </p>
        <h1>Packs</h1>

        <h1>Sharing</h1>
    </div>
</body>
</html>